<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>


<footer th:fragment="footer-partial" class="footer">
    <footer class="footer">
        <div class="container">
            <!-- Using #dates : utility methods for java.util.Date objects: -->
            <br />
            <span class="text-muted">nicholekirlin 2018
                <!--<span th:text="${#dates.year(#dates.createNow())}"></span>-->
            </span>
        </div>
    </footer>
</footer>

</body>
</html>