<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <head th:replace="fragments/navbar.html :: main-navbar('navbar')">
    <head th:replace="fragments/header.html :: main-header('test')">
    <link href="../../static/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Just to have SOMETHING</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

</body>
</html>